HotelProject/Connected Services/RatingServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64549/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfHotelService" />
  <xs:element name="GetRatedHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatedHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfHotelService" minOccurs="0" name="GetRatedHotelsResult" nillable="true" type="q1:ArrayOfRatedHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotelRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rating" type="xs:float" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotelRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHotelRatingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>