HotelProject/Connected Services/RatingServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64549/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64549/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64549/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfHotelService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetRatedHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRatedHotels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRatedHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatedHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddHotelRating_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHotelRating" />
  </wsdl:message>
  <wsdl:message name="IService1_AddHotelRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHotelRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BrowseHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:BrowseHotels" />
  </wsdl:message>
  <wsdl:message name="IService1_BrowseHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:BrowseHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginStaff" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginMember_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginMember" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterMember_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMember" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllHotels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHotels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllHotels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BookHotelRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:BookHotelRooms" />
  </wsdl:message>
  <wsdl:message name="IService1_BookHotelRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookHotelRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetRatedHotels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRatedHotels" message="tns:IService1_GetRatedHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRatedHotelsResponse" message="tns:IService1_GetRatedHotels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHotelRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddHotelRating" message="tns:IService1_AddHotelRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddHotelRatingResponse" message="tns:IService1_AddHotelRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BrowseHotels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BrowseHotels" message="tns:IService1_BrowseHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BrowseHotelsResponse" message="tns:IService1_BrowseHotels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginStaff" message="tns:IService1_LoginStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginStaffResponse" message="tns:IService1_LoginStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginMember" message="tns:IService1_LoginMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginMemberResponse" message="tns:IService1_LoginMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterMember" message="tns:IService1_RegisterMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterMemberResponse" message="tns:IService1_RegisterMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHotels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllHotels" message="tns:IService1_GetAllHotels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllHotelsResponse" message="tns:IService1_GetAllHotels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookHotelRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BookHotelRooms" message="tns:IService1_BookHotelRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BookHotelRoomsResponse" message="tns:IService1_BookHotelRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRatedHotels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRatedHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHotelRating">
      <soap:operation soapAction="http://tempuri.org/IService1/AddHotelRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrowseHotels">
      <soap:operation soapAction="http://tempuri.org/IService1/BrowseHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginStaff">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMember">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterMember">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHotels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookHotelRooms">
      <soap:operation soapAction="http://tempuri.org/IService1/BookHotelRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64549/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>