HotelProject/Connected Services/RatingServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfHotelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfHotelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRatedHotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatedHotel" nillable="true" type="tns:RatedHotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatedHotel" nillable="true" type="tns:ArrayOfRatedHotel" />
  <xs:complexType name="RatedHotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="HotelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatedHotel" nillable="true" type="tns:RatedHotel" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>