HotelProject/Connected Services/RatingServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64549/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfHotelService" />
  <xs:element name="GetRatedHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatedHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfHotelService" minOccurs="0" name="GetRatedHotelsResult" nillable="true" type="q1:ArrayOfRatedHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotelRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rating" type="xs:float" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotelRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHotelRatingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseHotels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfHotelService" minOccurs="0" name="BrowseHotelsResult" nillable="true" type="q2:ArrayOfHotelListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="balance" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHotels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfHotelService" minOccurs="0" name="GetAllHotelsResult" nillable="true" type="q3:ArrayOfHotelListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookHotelRooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hotelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomsToBook" type="xs:int" />
        <xs:element minOccurs="0" name="discountPercent" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookHotelRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookHotelRoomsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookedHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookedHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfHotelService" minOccurs="0" name="GetBookedHotelsResult" nillable="true" type="q4:ArrayOfHotelBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBalanceResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="balance" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addBalanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookHotelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>